@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    
    --Bright-Blue: hsl(224, 93%, 58%);
    --Bright-Blue-hover: hsl(224, 100%, 65%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    /*Headings, Call-to-actions, Header Navigation Weights: 400, 700*/
    /*Body Open Sans: 400*/
}
body {
    font-family: 'open sans' , sans-serif;
    color: var(--Very-Dark-Blue);
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;       /* centrado horizontal en pantallas m치s grandes */
  padding: 1.5rem;      /* respiraci칩n interior */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__img {
    width: clamp(5rem, 12vw, 11rem); 
}

.nav {
    display: flex;
    gap: clamp(1.4rem, 2vw , 3rem);
}
.nav__link {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: clamp(0.8rem, 1.2vw , 1.3rem);
    color: inherit;
    transition: all 0.1s ease-in;
    
        &:hover {
            color: var(--Bright-Blue-hover);
        }
}

.hero {
    .container {
        display: grid;
        padding-top: 2.2rem;
        display: grid;
        gap: 2rem;
    }
    
    /*img curve bottom*/
    background: url(images/bg-curve-mobile.svg); 
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: contain;
    padding-bottom: 9rem; 

}
.hero__img {
    margin-top: 1rem;
    
    img {
        width: 100%;
    }
}
.hero__content {
    order: 2;
    display: grid;
    gap: 1.5rem;
    text-align: center;
}
.hero__title {
    font-family: Raleway, sans-serif;
    font-size: clamp(1.52rem, 5vw, 2.5rem);
    line-height: 1.46;
}
.hero__paragraph {
    font-size: clamp(0.9rem, 1.3vw , 1.2rem); 
    line-height: 1.5;
}
.hero__inputContainer {
    display: grid;
    gap: 1rem;
}
.hero__email {
    padding: 0.7rem 1.3rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    
    &:placeholder-shown{
        border: 1px solid var(--Light-Gray);
        font-family: inherit;
    }
}
.hero__button {
    background: var(--Bright-Blue);
    border: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: var(--Light-Grayish-Blue);
    font-size: 0.9rem;
    padding: 0.7rem 1.3rem;
    border-radius: 0.2rem; 
    cursor: pointer;
    box-shadow: 2px 2px 5px hsla(240, 22%, 44%, 0.425);
    transition: all 0.3s ease-in;

    &:hover {
        background: var(--Bright-Blue-hover);
    }
}
.main {
    background: var(--Light-Grayish-Blue);

    .container {
        padding-bottom: 3rem;
        display: grid;
    }
}
.main__img {
    
    margin-bottom: 2rem;
    img {
        width: 100%; 
    }
}
.main__content {
    display: grid;
    gap: 1.5rem;
}
.main__title {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: clamp(1.52rem, 5vw, 2.5rem);
    line-height: 1.46;
}
.main__paragraph {
    font-size: clamp(0.9rem, 1.3vw , 1.2rem); 
    line-height: 1.5; 
}
.main__link {
    display: grid;
    justify-items: center; 
    
    .main__link--a {
        display: flex;
        justify-content: center; 
        gap: 0.2rem;
        color: var(--Moderate-Cyan);
        font-size: 0.8rem;
        border-bottom: 1px solid var(--Moderate-Cyan);
        text-decoration: none;
        padding-bottom: 0.4rem;
        width: 8.5rem;
        transition: all 0.3s ease-in;

        &:hover {
            color: var(--Bright-Blue-hover);
        }
    }
}
.main__quote {
    background: #fff;
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 0 0 5px 5px hsla(240, 22%, 44%, 0.048);
    border-radius: 0.2rem; 
}
.main__quote--paragraph {
    font-size: 0.68rem;
    line-height: 1.6; 
}
.main__user{
    display: flex;
    gap: 0.4rem;
    margin-top: 1rem;
    align-items: center;

    .main__quote--img {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
    }
    .main__quote--name {
        font-size: 0.68rem;
        font-weight: 700;
    }
    .main__quote--role {
        font-size: 0.5rem;
    }
}

.getAccess{
    background: var(--Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
    text-align: center;
    padding: 4rem 0;   

    .container {
        display: grid;
        gap: 1.2rem;
    }
}
.getAccess__content {
    display: grid;
    gap: 1rem;
}
.getAcces__title {
    font-size: clamp(1rem, 4vw, 2rem);
    font-family: Raleway;
}
.getAccess__paragraph {
    font-size: clamp(0.9rem, 1.3vw , 1.2rem); 
    line-height: 1.5; 
}
.getAccess__inputs {
    display: grid;
    gap: 0.8rem;
    padding: 0 2rem;

    .hero__button {
        font-size: 0.8rem; 
    }
}
.footer {
    background: var(--Very-Dark-Blue);
    color: var(--Light-Grayish-Blue);
    
    .container {
        padding: 3rem;
        display: grid;
        gap: 2rem;
    }
    a {
        color: var(--Light-Grayish-Blue);
        text-decoration: none;
        transition: all 0.1s ease-in;
    
        &:hover {
            color: var(--Bright-Blue-hover);
        }
    }

}
.footer__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.footer__section {
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
}
.footer__section:first-child{
    .footer__link {
        display: flex;
        gap: 1rem;

        img {
            width: 1.2rem;
            height: 1.2rem; 
        }
    }
}
.footer__section:last-child {
    display: flex;
    gap: 1.5rem; 
}

@media screen and (min-width:600px) {
    .header {
        padding-top: 1.5rem;
    }
    .hero {
        /*img curve bottom*/
        background: url(images/bg-curve-desktop.svg); 
        background-repeat: no-repeat;
        background-position: bottom; 
        background-size: contain;
        padding-bottom: 9rem; 
    }
}
@media screen and (min-width:1000px) {
    .container {
        width: 100%;
        max-width: 1350px; 
        margin: 0 auto;       /* centrado horizontal en pantallas m치s grandes */
        padding: 5rem;      /* respiraci칩n interior */
    }
    .hero {
        .container {
            grid-template-columns: 55% 1fr;
        }
    }
    .hero__img {
        order: 2;
    }
    .hero__content {
        order: 1;
        display: grid;
        gap: 1.5rem;
        text-align: left;
    }
    .hero__inputContainer {
        grid-template-columns: 1fr 1fr;
        align-content: center;
        align-items: center;

        .hero__button {
            justify-self: start;
        }
    }
    .main {
        .container {
            grid-template-columns: 55% 1fr;
            gap: 2rem; 
        }
    }
    .main__img {
        order: 2;
    }
    .main__content {
        order: 1;
        text-align: left;
    }
    .main__link {
        justify-items: start;
    }
    .getAccess {
        .container {
            grid-template-columns: 1fr 1fr;
            gap: 2rem   ;
        }
    }
    .getAccess__content {
        text-align: left;
    }
    .getAccess__inputs {
        align-items: center;

        .hero__email {
            align-self: flex-end;
        }
        .hero__button {
            justify-self: flex-start;
        }
    }
    .footer .container {
        padding: 5rem;
    }
}