@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    
    --Bright-Blue: hsl(224, 93%, 58%);
    --Bright-Blue-hover: hsl(224, 100%, 65%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    /*Headings, Call-to-actions, Header Navigation Weights: 400, 700*/
    /*Body Open Sans: 400*/
}
body {
    font-family: 'open sans' , sans-serif;
    color: var(--Very-Dark-Blue);
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;       /* centrado horizontal en pantallas más grandes */
  padding: 1.5rem;      /* respiración interior */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__img {
    width: 5rem;
}

.nav {
    display: flex;
    gap: 1.4rem;
}
.nav__link {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    color: inherit;
    transition: all 0.1s ease-in;
    
        &:hover {
            color: var(--Bright-Blue-hover);
        }
}

.hero {
    padding: 2.2rem;
    display: grid;

    /*img curve bottom*/
    background: url(images/bg-curve-mobile.svg); 
    background-repeat: no-repeat;
    background-position: bottom; 
    padding-bottom: 9rem; 
}
.hero__img {
    order: 1;
    margin: 2.4rem 0;
    
    img {
        width: 100%;
    }
}
.hero__content {
    order: 2;
    display: grid;
    gap: 1.5rem;
    text-align: center;
}
.hero__title {
    font-family: Raleway, sans-serif;
    font-size: 1.52rem;
    line-height: 1.46;
}
.hero__paragraph {
    font-size: 0.9rem;
    line-height: 1.5;
}
.hero__email {
    padding: 0.7rem 1.3rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    
    &:placeholder-shown{
        border: 1px solid var(--Light-Gray);
        font-family: inherit;
    }
}
.hero__button {
    background: var(--Bright-Blue);
    border: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: var(--Light-Grayish-Blue);
    font-size: 0.9rem;
    padding: 0.7rem 1.3rem;
    border-radius: 0.2rem; 
    cursor: pointer;
    box-shadow: 2px 2px 5px hsla(240, 22%, 44%, 0.425);
    transition: all 0.3s ease-in;

    &:hover {
        background: var(--Bright-Blue-hover);
    }
}
.main {
    padding-bottom: 3rem;
    background: var(--Light-Grayish-Blue);
}
.main__img {
    
    margin-bottom: 2rem;
    img {
        width: 100%; 
    }
}
.main__content {
    display: grid;
    gap: 1.5rem;
}
.main__title {
    text-align: center;
    font-size: 1rem; 
    font-family: Raleway;
}
.main__paragraph {
    font-size: 0.9rem;
    line-height: 1.5; 
}
.main__link {
    display: grid;
    justify-items: center; 
    
    .main__link--a {
        display: flex;
        justify-content: center; 
        gap: 0.2rem;
        color: var(--Moderate-Cyan);
        font-size: 0.8rem;
        border-bottom: 1px solid var(--Moderate-Cyan);
        text-decoration: none;
        padding-bottom: 0.4rem;
        width: 8.5rem;
        transition: all 0.3s ease-in;

        &:hover {
            color: var(--Bright-Blue-hover);
        }
    }
}
.main__quote {
    background: #fff;
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 0 0 5px 5px hsla(240, 22%, 44%, 0.048);
    border-radius: 0.2rem; 
}
.main__quote--paragraph {
    font-size: 0.68rem;
    line-height: 1.6; 
}
.main__user{
    display: flex;
    gap: 0.4rem;
    margin-top: 1rem;
    align-items: center;

    .main__quote--img {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
    }
    .main__quote--name {
        font-size: 0.68rem;
        font-weight: 700;
    }
    .main__quote--role {
        font-size: 0.5rem;
    }
}

.getAccess{
    background: var(--Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
    text-align: center;
    display: grid;
    gap: 1.2rem;
    padding: 4rem 2rem;
}
.getAcces__title {
    font-size: 1rem; 
    font-family: Raleway;
}
.getAccess__paragraph {
    font-size: 0.9rem;
    line-height: 1.5; 
}
.getAccess__inputs {
    display: grid;
    gap: 1rem;
    padding: 0 2.5rem;

    .hero__button {
        font-size: 0.8rem; 
    }
}
.footer {
    background: var(--Very-Dark-Blue);
    color: var(--Light-Grayish-Blue);
    padding: 3rem 1rem; 
    
    a {
        color: var(--Light-Grayish-Blue);
        text-decoration: none;
        transition: all 0.1s ease-in;
    
        &:hover {
            color: var(--Bright-Blue-hover);
        }
    }
}
.footer__section {
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
}
.footer__section:first-child{
    .footer__link {
        display: flex;
        gap: 1rem;
    }
}
.footer__section:last-child {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
}