@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    /*Headings, Call-to-actions, Header Navigation Weights: 400, 700*/
    /*Body Open Sans: 400*/
}
body {
    font-family: 'open sans' , sans-serif;
    color: var(--Very-Dark-Blue);
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;       /* centrado horizontal en pantallas más grandes */
  padding: 1.5rem;      /* respiración interior */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__img {
    width: 5rem;
}

.nav {
    display: flex;
    gap: 1.4rem;
}
.nav__link {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    color: inherit;
}

.hero {
    padding: 2.2rem;
    display: grid;

    /*img*/
    background: url(images/bg-curve-mobile.svg); 
    background-repeat: no-repeat;
    background-position: bottom; 
    padding-bottom: 8rem; 
}
.hero__img {
    order: 1;
    margin: 2.4rem 0;
    
    img {
        width: 100%;
    }
}
.hero__content {
    order: 2;
    display: grid;
    gap: 1.5rem;
    text-align: center;
}
.hero__title {
    font-family: Raleway, sans-serif;
    font-size: 1.52rem;
    line-height: 1.46;
}
.hero__paragraph {
    font-size: 0.9rem;
    line-height: 1.5;
}
.hero__email {
    padding: 0.7rem 1.3rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    
    &:placeholder-shown{
        border: 1px solid var(--Light-Gray);
        font-family: inherit;
    }
}
.hero__button {
    background: var(--Bright-Blue);
    border: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: var(--Light-Grayish-Blue);
    font-size: 0.9rem;
    padding: 0.7rem 1.3rem;
    border-radius: 0.2rem; 
}
.main {
    background: var(--Light-Grayish-Blue);
}

.getAccess{
    background: var(--Desaturated-Blue);
}

.footer {
    background: var(--Very-Dark-Blue);
    color: var(--Light-Grayish-Blue);
}